
/* regla CSS*/


h1 {

color: brown;
background-color:green;
text-align: center;
border:grey
}


a{

border: 5px solid black;
border-left: 6px solid red;
padding: 20px;
padding-left: 5px;
background-color: salmon;
background-image: url(../img/fondo.jpg);
background-repeat:repeat-y;
background-position:0% 16%;
/*border-top: 10px dashed blue;
border-right: 2px solid violet;*/
}

img{

border:salmon 6px;
border-radius: 90px;
border: 2px solid;
background-color: blue;
}





p {

color:rgb(78, 47, 255);
font-size: 18px;
font-style:normal;
/*font-variant:small-caps:*/
font-variant:small-caps;
font-weight: lighter;
text-decoration:underline yellowgreen;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px;
word-spacing: 2px;
text-align:justify;
text-transform: capitalize;
line-height: 2;
text-indent: 10px;
border: 2px solid red;
margin: 20px;
padding: 30px;
border-radius: 20px;
box-shadow: 3px 5px gray;
}